[Desktop Entry]
Name=METIS Welcome
Comment=METIS Welcome Application
Exec=metis-welcome
Icon=metis-_logo-1024x1024-light.png
Type=Application
Categories=System;
