pkgbase = yarsi
	pkgdesc = Yet another rust system info fetch.
	pkgver = 0.0.1
	pkgrel = 1
	url = https://github.com/bytehunt/yarsi
	arch = any
	license = MIT
	makedepends = rust
	makedepends = cargo
	depends = gcc-libs
	source = yarsi-0.0.1.tar.gz::https://github.com/bytehunt/yarsi/archive/v0.0.1.tar.gz
	sha256sums = SKIP

pkgname = yarsi
